# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!config.py
!create-db-template.sql
!requirements.txt

# And not these directories...
!*/

# Python specific
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env
.env.*

# IDE specific
.idea/
.vscode/
*.swp

# Database
*.db
*.sqlite3
