# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!config.py
!create-db-template.sql
!requirements.txt
!commands.txt

# And not these directories...
!*/app

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp

# Database
*.db
*.sqlite3

# Track these directories and files
!app/
!app/**
!migrations/
!migrations/**
!requirements.txt
!README.md
!config.py
!.gitignore
